div 
{
	display: flex;
	flex-direction: row;
	position: sticky;
	margin-bottom: 3rem;
}
ul 
{
	display: flex;
	flex-direction: row;
	list-style: none;
}
li 
{
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 10px;
}
li:hover 
{
	background-color: rgb(58, 56, 56);
	color: rgb(35, 35, 118);
}
