div 
{
	display: flex;
	flex-direction: row;
	align-items: center;
	position: sticky;
	margin-bottom: 3rem;
	margin-top: 0;
}
#name 
{
	margin-top: 0;
	margin-bottom: 0;
	color: #646cff;
}
ul 
{
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-right: 0;
}
li 
{
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 10px;
}
li:hover 
{
	background-color: rgb(58, 56, 56);
	color: rgb(35, 35, 118);
}
