#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.page-layout {
  width: full;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

